/* id needed to override Materialize defaults */
header#header{
    margin: 0;
    padding: 1rem;
}

/* id needed to override Materialize defaults */
div.sidebar#sidebar{
    padding: 2rem;
}

div.event-card{
    margin: 2rem 1rem;
    
}

